{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Symbol</th>
                <th>Type</th>
                <th>Shares</th>
                <th>Price per share</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock.date }}</td>
                    <td>{{ stock.time }}</td>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.type }}</td>
                    <td>{{ stock.num_share }}</td>
                    <td>{{ stock.price_per_share | usd }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}